# Node modules
node_modules/
npm-debug.log

# Entornos y credenciales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
build/

# Prisma
/prisma/data.db
/prisma/data.db-journal

# Logs
logs
*.log
npm-debug.log*
